/_build/
/cover/
/deps/
/.fetch
erl_crash.dump
*.ez
desktop_webview-*.tar
/doc/
.elixir_ls/
.idea/
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
native/macos/.build/
native/macos/Package.resolved
native/linux/build/
native/windows/build/
priv/native/macos/DesktopWebView
priv/native/linux/DesktopWebView
priv/native/windows/DesktopWebView.exe
.DS_Store
*.swp
